:root {
  /* Color Palette */
  --primary-color: #ecce9f;
  --primary-hover-color: #9a8d65;
  --text-color: #f4e4c9;
  --background-color: #525032;
  --card-background-color: #311e0f;
  --accent-color: #ecce9f;
  
  /* Typography */
  --font-main: Georgia, 'Times New Roman', Times, serif;
  --font-size-base: 16px;
  --font-size-h3: 24px;
  --font-size-h2: 36px;
  --font-size-h1: 48px;
  
  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
}

.button {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-family: var(--font-main);
  padding: var(--spacing-medium) var(--spacing-large);
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--primary-hover-color);
}

* {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-main);
    font-size: var(--font-size-base);
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

img {
    border-radius: 8px;
    border: 4px solid var(--accent-color);
    max-width: 250px;
}

.card {
    background-color: var(--card-background-color);
    max-width: 400px;
    text-align: center;
}

.card h3 {
    background-color: var(--card-background-color);
}

.card p {
    background-color: var(--card-background-color);
}