* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    background-color: #525032;
    margin: 0 auto;
    padding: 5px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0;
}

main {
    max-width: 1200px;
    width: 90%;
    padding: 16px;
    border: 1px solid #f4e4c9;
}

h1 {
    font-weight: normal;
    font-size: 48px;
    line-height: 1em;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
    color: #f4e4c9;
}

main>p {
    margin-bottom: 32px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #f4e4c9;
}

.collection-grid {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 24px;
    margin: 48px 0;
}

.collection-card {
    max-width: 300px;
    border: 1px solid #f4e4c9;
    background-color: #311e0f;
    padding: 16px;
}

.collection-card img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #f4e4c9;
    margin-bottom: 16px;
}

.collection-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.2;
    color: #f4e4c9;
    text-align: center;
}

.collection-card .details {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 16px;
    font-style: italic;
    color: #ecce9f;
    text-align: center;
}

.collection-card .description {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.6;
    color: #f4e4c9;
}

@media (width >= 480px) { 
    .collection-card {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 45%;
    }
}

@media (width >= 1024px) {
    .collection-card {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 30%;
    }
}

a {
    color: #e8c38a;
}