:root {
    /* Colour palette */
    --primary-color: #F0EFCB;
    --accent-color: #31572C;
    --text-color: #4B3621;
    --card-color: #E1CA96;

    /* Typography */
    --font-size-xs: 12px;
    --font-size-small: 16px;
    --font-size-medium: 24px;
    --font-size-large: 32px;
    --font-size-h1: 40px;
    --font-size-button: 20px;

    /* Spacing */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;
    --spacing--xl: 48px;
}

* {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: var(--font-size-medium);
    margin: var(--spacing-small) var(--spacing-medium);
    padding: var(--spacing-small) var(--spacing-medium);
}

body {
    display: block;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

main {
    max-width: 1200px;
    padding: var(--spacing-medium);
    margin: 0;
}

nav {
    text-align: center;
    padding: 0;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    background-color: var(--accent-color);
    transition: all 0.3s ease-in-out;
    padding: 0px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: var(--spacing-medium) var(--spacing-large);
}

nav li a {
    background-color: inherit;
    color: var(--card-color);
    font-size: var(--font-size-small);
    margin: 0;
    padding: 0;
    text-align: center;
    transition: all 0.3s ease;
}

nav li:hover {
    translate: -4px -4px;
    box-shadow: 4px 4px var(--text-color);
    color: var(--primary-color);
}

nav a:hover {
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

h1 {
    font-size: var(--font-size-h1);
    color: var(--accent-color);
}

h2 {
    font-size: var(--font-size-large);
}

h3 {
    font-size: var(--font-size-medium);
}

p {
    font-size: var(--font-size-small);
    padding: var(--spacing-small) var(--spacing-medium);
}

button  {
    background-color: var(--accent-color);
    color: var(--card-color);
    font-size: var(--font-size-button);
    padding: var(--spacing-small) var(--spacing-medium);
    margin: var(--spacing-small);
    border: 0px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

button:hover {
    translate: -4px -4px;
    box-shadow: 4px 4px var(--text-color);
    color: var(--primary-color);
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: var(--spacing-medium);
}

.card {
    justify-content: space-evenly;
    padding: var(--spacing-small) var(--spacing-medium);
    background-color: var(--card-color);
    border: 2px solid var(--text-color);
    border-radius: 8px;
    max-width: 400px;
    transition: all 0.3s ease-in-out;
}

.card p {
    background-color: inherit;
}

.card:hover {
    translate: -8px -8px;
    box-shadow: 8px 8px var(--text-color);
}

footer {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    background-color: var(--accent-color);
    color: var(--card-color);
    font-size: var(--font-size-small);
    padding: var(--spacing-medium) var(--spacing-small);
    transition: color 0.3s ease;
}

footer p {
    background-color: inherit;
    color: inherit;
    font-size: inherit;
}

footer a {
    background-color: inherit;
    color: inherit;
    font-size: inherit;
}

footer a:hover {
    color: var(--primary-color);
}

@media (width >=480px) {
    .card {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 45%;
    }
}

@media (width >=1024px) {
    .card {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 35%;
    }
}